@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.name {
  padding-top: 5em;
  color: #58595b;
}


.bio {
  text-align: center;
}


li{
  display:inline;
  margin: auto;
  padding: 10px;
  
}

.links {
  text-align: center;
}

a {
  color: #27aae1;
}

a:hover {
  color: gray;
}

@media only screen and (min-width: 20em) {
  
   body {
    max-width: 35em;
    margin: 0 auto;
  }
    
}

@media only screen and (min-width: 44em) {
  
          
}

@media only screen and (min-width: 60em) {
  
}